* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.back-home a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6347;
}

body {
  background-color: #222;
  color: #fff;
}

/* Navbar */

.navbar {
  background-color: #222;
  padding: 20px;
  border-bottom: #ff6347 2px solid;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar li a {
  font-size: 1rem;
  text-decoration: none;
  color: #ff6347;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li a:hover {
  color: #222;
  background-color: #ffffffa2;
}

.navbar svg {
  margin-right: 5px;
  font-size: 20px;
}

.logout {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  color: #ff6347;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.logout:hover {
  background-color: #ff6347;
  color: #222;
}

/* Home */

.home {
  background-color: #222;
  text-align: center;
  color: #fff;
  padding: 100px 20px;
}

.home h1 {
  margin-bottom: 100px;
  font-size: 3rem;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.movie-card {
  width: 12%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 1px #ff6347;
  border-radius: 5px;
  padding: 15px;
  background-color: #000;
}

.movie-card img {
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.movie-card a {
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
  text-decoration: none;
}

.movie-card a:hover {
  background-color: #ff6347;
  color: #222;
}

/* Login */

.background-image {
  background-image: url("./assets/img/_61d523a1-4f18-4c87-bb8d-048becabfca1.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #000000ce;
  color: #fff;
  text-align: center;
}

.background-image h1 {
  font-size: 2.5em;
  padding-top: 150px;
}

.form-container {
  width: 450px;
  height: 500px;
  padding: 20px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 10px;
  border-left: solid 3px #ff6347;
  text-align: left;
  padding-left: 5px;
}

.form-control input {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #222;
  border: solid 1px #ff6347;
  border-radius: 5px;
  color: #fff;
}

.form-container p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-container a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6347;
}

.form-container button {
  padding: 7px 25px;
  font-weight: bold;
  border: solid #ff6347 1px;
  border-radius: 5px;
  background-color: #222;
  color: #ff6347;
  cursor: pointer;
  transition: 0.5s;
}

.form-container button:hover {
  background-color: #ff6347;
  color: #222;
  border: solid 1px #222;
}

/* Register */

.bgdImgRegister {
  background-image: url("./assets/img/_b661d0c0-b906-4d5b-bd01-ffb9c5728850.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

.register {
  width: 100%;
  height: 100vh;
  background-color: #000000d8;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.register h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

/* Search */

.bgd-search {
  height: 500px;
  width: 100%;
  background-image: url("./assets/img/fundo-search.jfif");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.search h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search form {
  height: 150px;
}

.search button {
  text-align: center;
}

.search button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search svg {
  padding-left: 5px;
  font-size: 25px;
}

/* Movie Details */

.details-container {
  background-color: #000;
  padding: 20px;
  width: 500px;
  margin: 80px auto;
  text-align: center;
  border: solid 1px #ff6347;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #ffffff5e;
}

.details-container h1 {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-bottom: solid 3px #ff6347;
}

.card-details img {
  margin-bottom: 50px;
  border-radius: 5px;
}

.card-details p {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.card-details p span {
  color: #ff6347;
  font-weight: bold;
}

.sections-container {
  width: 400px;
  margin: 0 auto 150px;
  text-align: center;
}

.sections-container h2 {
  margin-bottom: 50px;
  font-size: 1.5rem;
  border-bottom: solid 2px #ff6347;
  padding: 15px;
}

.sections-container h2 span {
  color: #ff6347;
}

.sections-card {
  padding: 25px;
  background-color: #000;
  border: 1px solid #ff6347;
  border-radius: 5px;
}

.button-controle button {
  padding: 7px 25px;
  font-weight: bold;
  border: solid #ff6347 1px;
  border-radius: 5px;
  background-color: #222;
  color: #ff6347;
  cursor: pointer;
  transition: 0.5s;
  margin: 15px;
}

.button-controle button:hover {
  background-color: #ff6347;
  color: #222;
  border: solid 1px #222;
}

.button-sale button {
  padding: 7px 25px;
  font-weight: bold;
  border: solid #ff6347 1px;
  border-radius: 5px;
  background-color: #ff6347;
  color: #222;
  cursor: pointer;
  transition: 0.5s;
  margin: 15px;
}

.button-sale button:hover {
  background-color: #222;
  color: #ff6347;
  border: solid 1px #ff6347;
}

.authenticated {
  text-align: center;
  width: 400px;
  margin: 0 auto 150px;
}

.authenticated h2 {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 3px solid #ff6347;
}

.authenticated p {
  margin-bottom: 15px;
}

.authenticated p a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6347;
}

/* Seat Selection */

.seat-selections {
  text-align: center;
  padding-bottom: 150px;
}

.bkg-img-seat {
  height: 400px;
  width: 100%;
  background-image: url("./assets/img/seat-selection.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
}

.screen {
  background-color: #ff6347;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.seats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.seat {
  width: 40px;
  height: 40px;
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

.seat.selected {
  background-color: #ff6347;
  border-radius: 5px;
}

.selected-seats {
  margin-top: 20px;
}

.hours {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hours span {
  color: #ff6347;
  font-weight: bold;
}

.qrcode img {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  border-radius: 15px;
}

.btn-finaly {
  padding: 7px 25px;
  font-weight: bold;
  border: solid #ff6347 1px;
  border-radius: 5px;
  background-color: #ff6347;
  color: #222;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Footer */

.github {
  font-size: 3rem;
  background-color: #000;
  border-radius: 222px;
  border: solid 1px #fff;
  color: #fff;
  transition: 0.5s;
  margin-top: 10px;
}

.github:hover {
  background-color: #fff;
  color: #000;
}

.linkedin {
  font-size: 3rem;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #fff;
  color: #0e76a8;
  transition: 0.5s;
  margin-top: 10px;
}

.linkedin:hover {
  border: solid 1px #0e76a8;
  background-color: #0e76a8;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #222;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  padding: 10%;
  border-top: #ff6347 solid 2px;
  font-weight: bold;
}

footer span {
  color: #ff6347;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  transform: 0.5s;
}

footer span:hover {
  background-color: #c3c3c3;
  color: #222;
}
